<h3> Log in </h3>

<form [formGroup]="form">
  <div>
    <label for="email"><small *ngIf="form.controls['email'].invalid">*</small> Email </label>
    <input type="email"
           name="email"
           formControlName="email">
    <small *ngIf="form.controls['email'].touched &&  form.controls['email'].invalid">error</small>
  </div>
  <div>
    <label for="password"> Password </label>
    <input type="password"
           name="password"
           formControlName="password">
    <small *ngIf="form.controls['password'].invalid">* error</small>
  </div>

  <button type="submit"
          (click)="onSubmitClick()"
          [disabled]="form.invalid"> Entrar </button>
</form>
