<h3> Contacta con nosotros </h3>

<form [formGroup]="form">
  <div>
    <label for="email"> <small *ngIf="form.controls['email'].invalid">*</small> Email </label>
    <input type="email"
           name="email"
           formControlName="email"
           [attr.aria-invalid]="form.controls['email'].invalid">
    <small *ngIf="form.controls['email'].touched &&  form.controls['email'].invalid">error</small>
  </div>
  <div>
    <label for="message"> <small *ngIf="form.controls['message'].invalid">*</small> Mensaje </label>
    <textarea name="message"
              formControlName="message"
              [attr.aria-invalid]="form.controls['message'].invalid"></textarea>
    <small
           *ngIf="form.controls['message'].touched &&  form.controls['message'].invalid">error</small>
  </div>

  <button type="submit"
          (click)="onSubmitClick()"
          [disabled]="form.invalid"> Enviar </button>
</form>
