<form>
  <input type="text"
         name="range"
         [(ngModel)]="range">
  <input type="button"
         value="🔎"
         (click)="searchOperators()">
</form>
<ul *ngIf="operators$ | async as operators">
  <h1>Tenemos {{ operators.length }} operadores espaciales</h1>
  <li *ngFor="let operator of operators"
      [class]="getOperatorClass(operator) ">

    <span>{{ getOperatorIcon(operator) }}</span>
    <a [routerLink]="operator.id"> {{ operator.name }} </a>
    {{ operator.range }}
    {{ operator.status }}

  </li>
</ul>
<h4><a routerLink="new">Nuevo operador</a></h4>
