<h1>Bienvenido a Aldaba Astro Bookings</h1>

<h3>Hay {{ bookingsCount }} reservas activas </h3>

<h2>Tenemos {{ trips.length }} vuelos espaciales</h2>
<ul>
  <li *ngFor="let trip of trips">
    <span *ngIf="trip.status=='CONFIRMED'"> 🚀 </span>
    <span *ngIf="trip.status=='WAITING'"> ⌛ </span>
    <span class="{{ getTripClass(trip) }}">
      <a [routerLink]="['trips',trip.id]"> {{ trip.destination }} </a>
    </span>
    <span>
      From: {{ trip.startDate | date:'dd-MMM-yyyy' }}
      To: {{ trip.endDate | date:'dd-MMM-yyyy' }}
      For: {{ trip.flightPrice | currency:'EUR':'symbol':'3.0' }}
    </span>
    <span>
      Places: {{ trip.places }}
      <a *ngIf="canReserveBooking(trip)"
         [routerLink]="['trips',trip.id,'booking']"
         role="button"> Reserve </a>
    </span>
  </li>
</ul>
<h3>
  <a routerLink="operators">👉 Conoce mejor a nuestros operadores</a>
</h3>
